.like-holder{
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.liked-button{
    transition: 0.10s;
    background-image: url(./icons/liked.svg);
    border: none;
    background-color: transparent;
    height: 40px;
    width: 40px;
    background-position: center;
    background-size: cover;
}

.unliked-button{
    transition: 0.1s;
    background-image: url(./icons/unlike.svg);
    border: none;
    background-color: transparent;
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
}
.heart-button:hover{
    cursor: pointer;
}
.post{
    min-height: 800px;
    width: 600px;
    box-shadow: 0 -1px 10px 1px gray;
    border-radius: 1%;
    margin: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.1s;
  }
  .post:hover{
    box-shadow: 0 -1px 30px 1px gray;
    transition: 0.1s;
  }
  .post-header{
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  .post-user{
      margin-left: 2vw;
    }
  .post-date{
      margin-right: 2vw;
  }
  .post-image{
      width: 550px;
      height: 550px;
      border: 1px solid grey;
      text-align: center;
      background-image: url(../imgs/default.jpg);
      background-position: center;
      background-size: cover;
  }
  .post-image:hover{
    cursor: pointer;
  }
  .post-image-container{
    min-height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .post-view-more{
    color: rgba(0, 110, 255, 0.884);
  }
  .post-footer{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .post-subtitle{
      margin-top: 10px;
      margin-bottom: 10px;
      width: 550px;
  }
  .post-description{
      width: 550px;
      margin-bottom: 30px;
  }
  @media(max-width:800px){
    .liked-button{
        height: 30px;
        width: 30px;
    }
    .unliked-button{
        height: 20px;
        width: 20px;
    }
    .post{
        box-shadow: 0 -1px 10px 1px gray;
    }
    .post-image, .post{
        border: none;
    }
    .post-image-container{
        height: 100%;
        min-height: 100px;
    }      
  }
  @media(min-width:451px) and (max-width:600px){
    .post{
        width: 400px;
        min-height: auto;
    }      
  }
  @media(max-width:600px){
    .liked-button{
        height: 20px;
        width: 20px;
    }
    .unliked-button{
        height: 10px;
        width: 10px;
    }
    p{
        font-size: 10px;
    }
    .post{
        margin: 0;
        margin-bottom: 10px;
    }  
    .post-header{
        height: 40px;
    }
    .post-description{
        width: 350px;
    }
    .post-image{
        width: 350px;
        height: 350px;
    }
    .post-subtitle{
        width: 350px;
        margin-bottom: 0px;
    }
  }
  @media(max-width:450px){
    .post{
        width: 350px;
        min-height: auto;
    }
    .post-description{
        width: 300px;
        margin-bottom: 10px;
    }
    .post-subtitle{
        width: 300px;
        margin-top: 5px;

    }
  }
